canvas{
	background-color:gainsboro;
	width:100%;
}
.console{
	padding:5px;
	background-color:black;
	color:white;
	font-size: 11px;
	width:600px;
	height:120px;
	overflow: scroll;
}
.disabled{
	display:none;
}



.wideslider{
width: 500px;
}

label{
	display:inline;
}

input[type="checkbox"] {
	margin: 3px 3px 3px 4px;
}

#song_info{
	font-size:small;
	background-color:#666666;
	color:#EFEFEF;
	padding:5px;
}
#song_info a{
	font-size:x-small;
	background-color:#666666;
	color:white;
}
#result{
	font-size:xx-small;
	overflow: scroll;
	height:200px;
	background-color:#F0F0F0;
}

#search{
	width:155px;
}

input[type=checkbox]{
	width:50px;
	height:50px
}